@import url('adaptive.css');

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
body {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
     display: block;
     margin: var();
}

body {
     line-height: 1;
     font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
     width: 0;
}


ol,
ul,
li {
     list-style: none;
}

blockquote,
q {
     quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
     content: "";
     content: none;
}

table {
     border-collapse: collapse;
     border-spacing: 0;
}

a {
     text-decoration: none;
     color: black;
}
// font-family: 'Cormorant Garamond',
// serif;
// font-family: 'EB Garamond',
// serif;

.wrapp-page {

     background-color: #111111;
     z-index:-1;
     overflow: hidden;
}

.header__container {
     display: flex;
     justify-content: center;
     align-items: center;
     background: transparent;
     position: relative;
     z-index: 2;


     .header-content {
          font-family: 'Cormorant Garamond',serif;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          margin: var(--px-30-1920) 0px 0px 0px;
          border-bottom: var(--px-1-1920) solid rgba($color: #FFF, $alpha: 0.5);

          .instagram {
               width: var(--px-26-1920);
               height: var(--px-26-1920);
               background-color: transparent;
               border: none;
               margin: 0px var(--px-110-1920) 0px 0px;
               cursor: pointer;

               .inst-size {
                    width: var(--px-24-1920);
                    height: var(--px-24-1920);
               }
          }


          .menu {
               display: flex;
               justify-content: space-around;
               align-items: center;


               .menu-list {
                    display: inline-flex;
                    align-items: flex-start;
                    gap: var(--px-80-1920);


                    .menu-item {

                    }
                    
                    .menu-link {
                         position: relative;
                         color:  #FFF;
                         font-size: var(--px-18-1920);
                         font-style: normal;
                         font-weight: 600;
                         line-height: 130%;
                         cursor: pointer;
                    }

                    

                    .menu-link:hover {
                         color:  #CDAA7D;
                         font-size:var(--px-18-1920);
                         font-style: normal;
                         font-weight: 600;
                         line-height: 130%;
                    }

                    .menu-link:after {
                         content: "";
                         bottom:calc(var(--px-2-1920) * -1);
                         left: 50%;
                         position: absolute;
                         width: 0%;
                         height: var(--px-1-1920);
                         background-color: #CDAA7D;
                         -webkit-transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                         transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                         -webkit-transition-duration: 400ms;
                         transition-duration: 400ms;
                         -webkit-transition-property: width, left;
                         transition-property: width, left;
                    }
                    .menu-link:hover::after {
                         width: 100%;
                         left: 0px;
                    }
                    

                                       
               }
                     
          }
          
          .wrapp-logo {

               margin: 0px var(--px-120-1920);

               a {
                    .img-size {
                              width: var(--px-60-1920);
                              height: var(--px-60-1920);
                              border-radius: 40px;
                         }
               }
          }

          .about-us__button {
               background: transparent;
               margin: 0px 0px 0px var(--px-104-1920);
               border: none;
               cursor: pointer;
               transition:  opacity 0.25s;

               .about-us__size {
                    width: var(--px-50-1920);
                    height: var(--px-20-1920);

               }
          }

          .about-us__close {
               position: absolute;
               right: 0px;
               background: transparent;
               border: none;
               z-index: -2;
               opacity: 0;
               cursor: pointer;
               animation: visible-elem 0.25s normal linear forwards paused;
               // transition: all 0.25s;
               // transition-delay:  0.4s;

               .close__size {
                         width: var(--px-32-1920);
                         height: var(--px-32-1920);
                    }

          }

          @keyframes visible-close {
               0% {
                    position: absolute;
                    opacity: 0;
                    z-index: -1;

               }

               100% {
                    position: absolute;
                    opacity: 1;
                    z-index: 1;

               }
               
          }

          @keyframes hidden-close {
               0% {
                    position: absolute;
                    opacity: 1;
                    z-index: 1;

               }

               100% {
                    position: absolute;
                    opacity: 0;
                    z-index: -1;

               }
               
          }

          

          .about-us__inform {
               width: calc(var(--px-400-1920)* 1.0875);
               height: 101vh;
               display: flex;
               flex-shrink: 0;
               flex-wrap: wrap;
               position: absolute;
               right: calc(var(--px-360-1920)* -2.21);
               top: calc(var(--px-30-1920)* -1);
               background: #111;

     
               .wrapp__text {
                    width: var(--px-315-1920);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    left: calc(50% - var(--px-157-1920));
                    margin: var(--px-246-1920) 0px 0px 0px;
     
                    p {
                         color: #FFF;
                         font-family: 'Cormorant Garamond', serif;
                         font-size: var(--px-18-1920);
                         font-style: normal;
                         font-weight: 400;
                         line-height: 130%;
     
                    }
               }
     
               .wrapp__contacts {
                    width: var(--px-315-1920);
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    flex-wrap: wrap;
                    position: relative;
                    left: calc(50% - var(--px-157-1920));
                    margin: var(--px-80-1920) 0px 0px 0px;
                    h3 {
                         width: 100%;
                         color: #FFF;
                         text-align: start;
                         font-family: 'Garamond', serif;
                         font-size: var(--px-24-1920);
                         font-style: normal;
                         font-weight: 700;
                         line-height: 120%;
                         margin: 0px 0px var(--px-25-1920) 0px;
                    }
     
                    span {
                         width: 100%;
                         color: #FFF;
                         text-align: start;
                         font-family: 'Cormorant Garamond', serif;
                         font-size: var(--px-18-1920);
                         font-style: normal;
                         font-weight: 400;
                         line-height: 130%;
                    }

                    span:nth-child(3) {
                         margin: var(--px-15-1920) 0px;
                    }
               }
     
               .wrapp__working-hours {
                    width: var(--px-315-1920);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    position: relative;
                    left: calc(50% - var(--px-157-1920));
                    margin: var(--px-60-1920) 0px 0px 0px;

     
                    h3 {
                         width: 100%;
                         color: #FFF;
                         text-align: start;
                         font-family: 'Garamond', serif;
                         font-size: var(--px-24-1920);
                         font-style: normal;
                         font-weight: 700;
                         line-height: 120%;
                         margin: 0px 0px var(--px-25-1920) 0px;
                    }
     
                    span {
                         width: 100%;
                         color: #FFF;
                         text-align: start;
                         font-family: 'Cormorant Garamond', serif;
                         font-size: var(--px-18-1920);
                         font-style: normal;
                         font-weight: 400;
                         line-height: 130%;
                    }

                     span:nth-child(3) {
                         margin: var(--px-15-1920) 0px;
                    }
               }
          }
          .about-us__button:focus {
               z-index: -1;
          }

          .about-us__button:focus~.about-us__close {
               animation: visible-close 0.25s normal linear forwards running;
               animation-delay: 0.35s;
          }
          .about-us__close:focus {
               animation: hidden-close 0.001s normal linear forwards running;

          }

          .about-us__button:focus~.about-us__inform {
               animation: floats-out 0.35s normal linear forwards ;
          }

          .about-us__close:focus~.about-us__inform {
               animation: hiding 0.35s normal linear forwards running;

          }
          

          @keyframes floats-out {
                    0% {
                         position: absolute;
                         right: calc(var(--px-360-1920)* -2.21);
                         top: calc(var(--px-30-1920)* -1);
               
                    }
               
                    100% {
                         display: flex;
                         position: absolute;
                         right: calc(var(--px-360-1920)* -1);
                         top: calc(var(--px-30-1920)* -1);
                    }
          }

          @keyframes hiding {
                    0% {
                         position: absolute;
                         right: calc(var(--px-360-1920)* -1);
                         top: calc(var(--px-30-1920)* -1);
                              
               
                    }
               
                    100% {
                         position: absolute;
                         right: calc(var(--px-360-1920)* -2.21);
                         top: calc(var(--px-30-1920)* -1);
                    }
               }
          
      
     }

}

.home-page__container {
     height: 100vh;
     position: relative;
     top: calc(var(--px-93-1920)* -1);
     z-index: 1;
     display: flex;
     justify-content: center;
     align-items: start;
     background-image: url(../img/bgc.png);
     background-size: 1920px 1080px;
     background-repeat: no-repeat;
     background-position: center;
     margin: 0px 0px calc(var(--px-93-1920)* -1) 0px;

     .home-page__content {
          width: calc(var(--px-400-1920)* 3);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          .wpapp-title {
               width: calc(var(--px-400-1920)* 2.4025);
               display: flex;
               justify-content: center;
               align-items: center;
               position: relative;
               top: calc(50vh - var(--px-100-1920));

               h1 {
                    color:  #FFF;
                    text-align: center;
                    font-family: 'Garamond', serif;
                    font-size: var(--px-72-1920);
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
               }
          }

          .wrapp__mouse-down {
               width: 50%;
               display: flex;
               justify-content: center;
               position: absolute;
               bottom: var(--px-100-1920);

               .wrapp__svg {

                    svg {
                         width: var(--px-20-1920);
                         height: var(--px-30-1920);
                         flex-shrink: 0;
                    }
               }
               
               .wpapp__paragraph {
                    margin: 0px 0px 0px var(--px-20-1920);

                    span{
                         color:  #FFF;
                         font-family: 'Cormorant Garamond', serif;
                         font-size: var(--px-18-1920);
                         font-style: normal;
                         font-weight: 700;
                         line-height: 140%;
                    }
               }    

          }
     }
}

.about-us__container {
     display: flex;
     justify-content: center;
     align-items: center;

     .about-us__content {
          width: 1200px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          .wpapp__svg {
               width: 100%;
               text-align: center;
               margin: var(--px-120-1920) 0px 0px 0px;


               svg {
                    width: var(--px-80-1920);
                    height: var(--px-64-1920);
                    flex-shrink: 0;
               }
          }
          
          .wrapp__inform {
               width: calc(var(--px-400-1920)* 2.14) ;
               display: flex;
               justify-content: center;
               align-items: center;
               flex-wrap: wrap;
               margin: var(--px-60-1920) 0px var(--px-95-1920) 0px;

               p {
                    color:  #FFF;
                    text-align: center;
                    font-family: 'Cormorant Garamond', serif;
                    font-size: var(--px-27-1920);
                    font-style: normal;
                    font-weight: 700;
                    line-height: 130%;
               }
               p:nth-child(1) {
                    margin: 0px 0px var(--px-27-1920) 0px;
               }
          }
     }
     
}

.our-story__container {
     display: flex;
     justify-content: center;
     align-items: center;
     background: #CDAA7D;

     .our-story__content {
          width: calc(var(--px-400-1920)* 3);
          display: flex;
          justify-content: center;
          align-items: center;

          .first-row {
               width: 50%;
               display: flex;
               justify-content: center;
               align-items: center;


               .wrapp-img {
                    width: var(--px-400-1920);
                    height: var(--px-400-1920);
                    background-color: rgb(246, 246, 244);
                    margin: var(--px-50-1920) 0px;

                    img {
                         
                    }
               }
          }

          .second-row {
               width: 50%;
               display: flex;
               justify-content: start;
               align-items: center;

               .wrapp-paragraph {
                    width: 90%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    flex-wrap: wrap;


                    .wrapp-title {
                         margin: 0px 0px var(--px-20-1920) 0px;

                         h2 {
                              color:  #000;
                              text-align: start;
                              font-family: 'Cormorant Garamond', serif;
                              font-size: var(--px-40-1920);
                              font-style: normal;
                              font-weight: 700;
                              line-height: 120%;

                         }
                    }
                    
                    .wrapp-text {

                         p {

                              color: #000;
                              text-align: start;
                              font-family: 'Garamond', serif;
                              font-size: var(--px-18-1920);
                              font-style: normal;
                              font-weight: 700;
                              line-height: 130%;

                         }
                    }

                    .learn-more {
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         background-color: transparent;
                         border: var(--px-1-1920) solid #000;
                         margin: var(--px-20-1920) 0px 0px 0px;
                         padding: var(--px-7-1920)var(--px-15-1920);
                         outline: none;

                         a {
                              color: #000;
                              text-align: center;
                              font-family: 'Garamond', serif;
                              font-size: var(--px-20-1920);
                              font-style: normal;
                              font-weight: 700;
                              line-height: 130%;
                         }
                    }

               }
          }
     }
}

.bestsellers__container {
     display: flex;
     justify-content: center;
     align-items: center;

     .bestsellers__content {
          width: calc(var(--px-400-1920) * 3);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          margin: 0px 0px var(--px-100-1920) 0px;


          .wrapp__title {
               display: flex;
               justify-content: center;
               align-items: center;
               margin: var(--px-100-1920) 0px 0px 0px;


               h3 {
                    color: #FFF;
                    text-align: center;
                    font-family: 'Cormorant Garamond', serif;
                    font-size: var(--px-72-1920);
                    font-style: italic;
                    font-weight: 700;
                    line-height: 120%;
                    text-transform: uppercase;

               }
          }

          .wrapp__cards {
               width: calc(var(--px-400-1920) * 3);
               display: flex;
               justify-content: space-around;
               align-items: center;
               margin: var(--px-70-1920) 0px 0px 0px ;


               .wrapp__card {
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    flex-wrap: wrap;
                    width: var(--px-350-1920);
                    height: calc(var(--px-400-1920)* 1.125);
                    background-color: #FFF;
                    background-color: #111111;


                    img {
                         width: var(--px-350-1920);
                         height: calc(var(--px-400-1920)* 1.125);
                         background-color: pink;

                    }

                    .wrapp__text {
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         flex-wrap: wrap;
                         margin: var(--px-20-1920) 0px 0px 0px;


                         .product-name {
                              width: 100%;
                              color: #FFF;
                              text-align: center;
                              font-family: 'Cormorant Garamond', serif;
                              font-size: var(--px-30-1920);
                              font-style: normal;
                              font-weight: 400;
                              line-height: 120%;
                         }

                         .product-price {
                              width: 100%;
                              color: #FFF;
                              text-align: center;
                              font-family: 'Cormorant Garamond', serif;
                              font-size: var(--px-24-1920);
                              font-style: normal;
                              font-weight: 400;
                              line-height: 120%;
                         }
                    }
                    
               }
          }
     }
}

.popular-goods__container {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #111111;

     .popular-goods__content {
          width: calc(var(--px-400-1920)* 3);
          justify-content: center;
          align-items: center;

          .wrapp-title {
               display: flex;
               justify-content: center;
               align-items: center;
               margin: var(--px-100-1920);

               h3 {
                    color: #CDAA7D;
                    text-align: center;
                    font-family: 'Cormorant Garamond', serif;
                    font-size: var(--px-48-1920);
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
               }
          }

          .wrapp__product {
               height: calc(var(--px-400-1920)* 1.25);
               display: flex;
               justify-content: center;
               align-items: center;
               z-index: 3;
               margin: var(--px-30-1920) 0px;
               position: relative;


               .first-row {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 3;
                    position: relative;

                    .photo {
                         width: var(--px-400-1920);
                         height: var(--px-400-1920);
                         background-color: rgba($color: #fff, $alpha: 0.8);
                         z-index: 10;

                         
                    }

                   
               }


               .second-row {
                    width: 50%;
                    height: var(--px-400-1920);
                    z-index: 3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    .wrapp__paragraph {
                         width: 90%;
                         display: flex;
                         justify-content: start;
                         align-items: center;
                         flex-wrap: wrap;
                         gap: var(--px-20-1920);
                         overflow: visible;


                          h2 {
                              color: rgba($color: #CDAA7D, $alpha: 0.8);
                              width: 100%;
                              text-align: start;
                              font-family: 'Garamond', serif;
                              font-size: var(--px-28-1920);
                              font-style: normal;
                              font-weight: 700;
                              line-height: 120%;
                         }

                         p {
                              color: rgba($color: #CDAA7D, $alpha: 0.8);
                              text-align: start;
                              font-family: 'Cormorant Garamond', serif;
                              font-size: var(--px-22-1920);
                              font-style: normal;
                              font-weight: 400;
                              line-height: 100%;
                         }

                         .wrapp__button {
                              width: 100%;
                              display: flex;
                              justify-content: start;
                              align-items: center;
                              // margin: var(--px-10-1920) 0px 0px 0px;
                         

                              .go__store {
                                   display: flex;
                                   justify-content: center;
                                   align-items: center;
                                   padding: var(--px-9-1920) var(--px-15-1920);
                                   background: transparent;
                                   border: var(--px-1-1920) solid #CDAA7D;
                              
                                        a {
                                             color: rgba($color: #CDAA7D, $alpha: 0.8);
                                             text-align: center;
                                             font-family: 'Cormorant Garamond', serif;
                                             font-size: var(--px-22-1920);
                                             font-style: normal;
                                             font-weight: 400;
                                             line-height: 100%;

                                        }
                              }
                         }
                    }

                    
                     

                    .background-line {
                         position: absolute;
                         top: calc(var(--px-400-1920)* 1.05);
                         right: var(--px-150-1920);
                         width: calc(var(--px-400-1920) * 2);
                         height: var(--px-1-1920);
                         background-color: #CDAA7D;
                    }

                    
               }
               
                    
          }

          .wrapp__product-right {
               height: calc(var(--px-400-1920)* 1.25);
               display: flex;
               justify-content: center;
               align-items: center;
               position: relative;
               margin: var(--px-30-1920) 0px;

               .first-row {
                    width: 50%;
                    height: var(--px-400-1920);
                    z-index: 3;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    position: relative;

                    .wrapp__paragraph {
                         width: 90%;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         flex-wrap: wrap;
                         gap: var(--px-20-1920);


                         h2 {
                              color: rgba($color: #CDAA7D, $alpha: 0.8);
                              width: 100%;
                              text-align: end;
                              font-family: 'Garamond', serif;
                              font-size: var(--px-24-1920);
                              font-style: normal;
                              font-weight: 700;
                              line-height: 120%;
                         }

                         p {
                              color: rgba($color: #CDAA7D, $alpha: 0.8);
                              text-align: end;
                              font-family: 'Cormorant Garamond', serif;
                              font-size: var(--px-18-1920);
                              font-style: normal;
                              font-weight: 400;
                              line-height: 130%;
                         }

                         .wrapp__button {
                              width: 100%;
                              display: flex;
                              justify-content: end;
                              align-items: center;
                              margin: var(--px-10-1920) 0px 0px 0px;
                         

                              .go__store {
                                   display: flex;
                                   justify-content: center;
                                   align-items: center;
                                   padding: var(--px-9-1920) var(--px-15-1920);
                                   background: transparent;
                                   border: var(--px-1-1920) solid #CDAA7D;
                              
                                        a {
                                             color: rgba($color: #CDAA7D, $alpha: 0.8);
                                             text-align: center;
                                             font-family: 'Cormorant Garamond', serif;
                                             font-size: var(--px-22-1920);
                                             font-style: normal;
                                             font-weight: 400;
                                             line-height: 100%;

                                        }
                              }
                         }
                    }

                     .background-line {
                         position: absolute;
                         top: calc(var(--px-350-1920)* 1.05);
                         left: var(--px-150-1920);
                         width: calc(var(--px-400-1920) * 2);
                         height: var(--px-1-1920);
                         background-color: #CDAA7D;
                    }
               }

               .second-row {
                         width: 50%;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         z-index: 3;
                         position: relative;
               
                         .photo {
                              width: var(--px-400-1920);
                              height: var(--px-400-1920);
                              background-color: rgba($color: #fff, $alpha: 0.8);
                              z-index: 3;

                         }


                         
                    }
          }

          .wrapp__beauty-hair {
               display: flex;
               justify-content: center;
               align-items: center;
               flex-wrap: wrap;

               .wrapp-title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: var(--px-100-1920);

                    h3 {
                         color: #CDAA7D;
                         text-align: center;
                         font-family: 'Cormorant Garamond', serif;
                         font-size: var(--px-48-1920);
                         font-style: normal;
                         font-weight: 700;
                         line-height: 110%;
                         border-bottom: var(--px-2-1920) solid #CDAA7D;
                    }
               }

               .wrapp__product {
                    height: calc(var(--px-400-1920)* 1.25);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 3;
                    margin: var(--px-30-1920) 0px;
                    position: relative;


                    .first-row {
                         width: 50%;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         z-index: 3;
                         position: relative;

                         .photo {
                              width: var(--px-400-1920);
                              height: var(--px-400-1920);
                              background-color: rgba($color: #fff, $alpha: 0.8);
                              z-index: 10;
                         }

                    
                    }


                    .second-row {
                         width: 50%;
                         height: var(--px-400-1920);
                         z-index: 3;
                         display: flex;
                         justify-content: center;
                         align-items: center;

                         .wrapp__paragraph {
                              width: 80%;
                              display: flex;
                              justify-content: start;
                              align-items: center;
                              flex-wrap: wrap;
                              gap: var(--px-20-1920);
                              overflow: visible;


                              h2 {
                                   color: rgba($color: #CDAA7D, $alpha: 0.8);
                                   width: 100%;
                                   text-align: start;
                                   font-family: 'Garamond', serif;
                                   font-size: var(--px-24-1920);
                                   font-style: normal;
                                   font-weight: 700;
                                   line-height: 120%;
                              }

                              p {
                                   color: rgba($color: #CDAA7D, $alpha: 0.8);
                                   text-align: start;
                                   font-family: 'Cormorant Garamond', serif;
                                   font-size: var(--px-18-1920);
                                   font-style: normal;
                                   font-weight: 400;
                                   line-height: 130%;
                              }

                              

                              
                         }

                         .background-line {
                              position: absolute;
                              top: calc(var(--px-400-1920)* 1.05);
                              right: var(--px-150-1920);
                              width: calc(var(--px-400-1920) * 2);
                              height: var(--px-1-1920);
                              background-color: #CDAA7D;
                         }

                         
                    }
                    
                         
               }

               .wrapp__product-right {
                    height: calc(var(--px-400-1920)* 1.25);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    margin: var(--px-30-1920) 0px;

                    .first-row {
                         width: 50%;
                         height: var(--px-400-1920);
                         z-index: 3;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         position: relative;

                         .wrapp__paragraph {
                              width: 80%;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              flex-wrap: wrap;
                              gap: var(--px-20-1920);


                              h2 {
                                   color: rgba($color: #CDAA7D, $alpha: 0.8);
                                   width: 100%;
                                   text-align: start;
                                   font-family: 'Garamond', serif;
                                   font-size: var(--px-24-1920);
                                   font-style: normal;
                                   font-weight: 700;
                                   line-height: 120%;
                              }

                              p {
                                   color: rgba($color: #CDAA7D, $alpha: 0.8);
                                   text-align: start;
                                   font-family: 'Cormorant Garamond', serif;
                                   font-size: var(--px-18-1920);
                                   font-style: normal;
                                   font-weight: 400;
                                   line-height: 130%;
                              }

                              .wrapp__button {
                              width: 100%;
                              display: flex;
                              justify-content: start;
                              align-items: center;
                              // margin: var(--px-10-1920) 0px 0px 0px;
                         

                              .go__store {
                                   display: flex;
                                   justify-content: center;
                                   align-items: center;
                                   padding: var(--px-9-1920) var(--px-15-1920);
                                   background: transparent;
                                   border: var(--px-1-1920) solid #CDAA7D;
                              
                                        a {
                                             color: rgba($color: #CDAA7D, $alpha: 0.8);
                                             text-align: center;
                                             font-family: 'Cormorant Garamond', serif;
                                             font-size: var(--px-22-1920);
                                             font-style: normal;
                                             font-weight: 400;
                                             line-height: 100%;

                                        }
                              }
                         }
                         }

                         .background-line {
                              position: absolute;
                              top: calc(var(--px-350-1920)* 1.05);
                              left: var(--px-150-1920);
                              width: calc(var(--px-400-1920) * 2);
                              height: var(--px-1-1920);
                              background-color: #CDAA7D;
                         }
                    }

                    .second-row {
                              width: 50%;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              z-index: 3;
                              position: relative;
                    
                              .photo {
                                   width: var(--px-400-1920);
                                   height: var(--px-400-1920);
                                   background-color: rgba($color: #fff, $alpha: 0.8);
                                   z-index: 3;

                              }


                              
                         }
               }
          }
               
     }
     
          
}



